---
import Head from "@components/Head.astro";
import Hero from "@components/Hero.astro";
import Navigation from "@components/Navigation.astro";
import Badge from "@components/Badge.astro";
import Card from '@components/Card.astro';
import Date from '@components/Date.astro';
import { getCollection } from "astro:content";

const expertise = (await getCollection("expertise")).sort(
    (a, b) => a.data.sort - b.data.sort,
);
const projects = (await getCollection("projects")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
const media = (await getCollection("media")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<html>
    <Head />
    <body class="tuft-fabric">
        <main id="content">
            <Hero navigation="Home" />
            <p>
                <a href="https://google.com">Contact me</a> for work inquiries, collaborations,
                or just to say hi!
            </p>

            <Badge>Design Systems</Badge>
            <section data-navigation="Expertise">
                <h2>Expertise</h2>
                {
                    expertise.map((item) => (
                        <Card>
                            <h3>{item.data.title}</h3>
                            {item.data.summary && <p>{item.data.summary}</p>}
                        </Card>
                    ))
                }
            </section>

            <section data-navigation="Projects">
                <h2>Projects</h2>
                {
                    projects.map((item) => (
                        <article>
                            <Date isoDate={item.data.date} />
                            <h3>
                                <a href={item.data.link}>{item.data.title}</a>
                            </h3>
                            <img src={item.data.image}>
                            {item.data.summary && <p>{item.data.summary}</p>}
                        </article>
                    ))
                }
            </section>

            <section data-navigation="Media">
                <h2>Media</h2>
                {
                    media.map((item) => (
                        <article>
                            <h3>
                                <a href={item.data.link}>{item.data.title}</a>
                            </h3>
                            <img src={item.data.image}>
                            {item.data.summary && <p>{item.data.summary}</p>}
                        </article>
                    ))
                }
            </section>
            <Hero cloned />
        </main>
        <Navigation />
        <script>
            window.addEventListener(
                "scroll",
                () => {
                    const { scrollY, innerHeight } = window;
                    const maxScroll =
                        document.documentElement.scrollHeight - innerHeight;
                    if (scrollY >= maxScroll) {
                        window.scrollTo({ top: 0, behavior: "instant" });
                    }
                },
                { passive: true },
            );
        </script>
    </body>
</html>
