---
import metadata from "../metadata.json";
const { title = metadata.title, description = metadata.description } =
    Astro.props;
const ogImage = new URL("og-image.png", Astro.url);

const schema = {
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    dateCreated: "2020-05-07T12:34:00-05:00",
    dateModified: new Date().toISOString(),
    mainEntity: {
        "@id": "#main-author",
        "@type": "Person",
        name: "Donnie D'Amato",
        alternateName: "donniedamato",
        description,
        image: "http://donnie.damato.design/images/donnie.jpg",
        sameAs: [
            "https://twitter.com/donniedamato",
            "https://linkedin.com/in/fauxserious",
            "https://github.com/fauxserious",
            "https://social.design.systems/@donnie",
            "https://bsky.app/profile/donnie.damato.design",
            "https://adplist.org/mentors/donnie-damato",
            "https://www.threads.net/@donniedamato",
        ],
    },
};
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={title} />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#b91d47" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@donniedamato" />
    <meta name="twitter:creator:id" content="230538553" />

    <script type="application/ld+json" set:html={JSON.stringify(schema)} />

    <style is:global>
        @font-face {
            font-family: "Mother";
            font-style: normal;
            font-weight: 400;
            src:
                local("Mother"),
                url("/Mother-Regular.woff2") format("woff2");
        }

        @font-face {
            font-family: "Daeling";
            font-style: normal;
            font-weight: 400;
            src:
                local("Daeling"),
                url("/Daeling-Regular.woff2") format("woff2");
        }

        @font-face {
            font-family: "Kentish";
            font-style: normal;
            font-weight: 400;
            src:
                local("Kentish"),
                url("/Kentish-Regular.woff2") format("woff2");
        }

        *,
        :before,
        :after {
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        html::after {
            content: "";
            position: fixed;
            inset: 0;
            background: radial-gradient(
                circle farthest-corner at center,
                transparent 20%,
                rgba(0, 20, 10, 0.2) 50%,
                rgba(0, 5, 2, 0.7) 90%,
                rgba(0, 0, 0, 0.85) 100%
            );
            pointer-events: none;
        }

        body {
            --s: 100px; /* control the size*/
            --c1: #2e0119;
            --c2: #250014;

            --_g:
                #0000, #0004 5%, var(--c2) 6% 14%, var(--c1) 16% 24%,
                var(--c2) 26% 34%, var(--c1) 36% 44%, var(--c2) 46% 54%,
                var(--c1) 56% 64%, var(--c2) 66% 74%, var(--c1) 76% 84%,
                var(--c2) 86% 94%, #0004 95%, #0000;
            margin: 0;
            overscroll-behavior-y: none;
            text-rendering: optimizeLegibility;
            font-family: system-ui;
            line-height: 1.5;
            text-wrap: pretty;
            background-color: #250014;
            background-image:
                    radial-gradient(100% 50% at 100% 0, var(--_g)),
                    radial-gradient(100% 50% at 0 50%, var(--_g)),
                    radial-gradient(100% 50% at 100% 100%, var(--_g));
            background-blend-mode: color;
            color: white;

            background-size: var(--s) calc(2 * var(--s));
        }

        a {
            color: inherit;
            text-decoration-thickness: 1px;
            text-underline-offset: 0.15em;
        }

        :where(h1, h2, h3) {
            font-family: "Kentish";
            font-weight: normal;
            text-wrap: balance;
            margin: 0;
            padding-block: 0.5ex;
            background-image: linear-gradient(
                110deg,
                #bf953f 0%,
                #fcf6ba 20%,
                #b38728 40%,
                #fcf6ba 50%,
                #bf953f 65%,
                #fcf6ba 85%,
                #aa771c 100%
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            filter: url(#realistic-gold)
                drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.4));
            -webkit-text-stroke: 0.3px rgba(255, 252, 224, 0.4);
        }

        h2 {
            font-size: 3.5rem;
        }
    </style>
</head>
