---
import metadata from "../metadata.json";
const { title = metadata.title, description = metadata.description } =
    Astro.props;
const ogImage = new URL("og-image.png", Astro.url);

const schema = {
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    dateCreated: "2020-05-07T12:34:00-05:00",
    dateModified: new Date().toISOString(),
    mainEntity: {
        "@id": "#main-author",
        "@type": "Person",
        name: "Donnie D'Amato",
        alternateName: "donniedamato",
        description,
        image: "http://donnie.damato.design/images/donnie.jpg",
        sameAs: [
            "https://twitter.com/donniedamato",
            "https://linkedin.com/in/fauxserious",
            "https://github.com/fauxserious",
            "https://social.design.systems/@donnie",
            "https://bsky.app/profile/donnie.damato.design",
            "https://adplist.org/mentors/donnie-damato",
            "https://www.threads.net/@donniedamato",
        ],
    },
};
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={title} />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#b91d47" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@donniedamato" />
    <meta name="twitter:creator:id" content="230538553" />

    <script type="application/ld+json" set:html={JSON.stringify(schema)} />

    <style is:global>
        @font-face {
            font-family: "Penstand";
            font-style: normal;
            font-weight: 400;
            src:
                local("Penstand"),
                url("/Penstand.woff2") format("woff2");
        }

        @font-face {
            font-family: "Permanent Marker";
            font-style: normal;
            font-weight: 400;
            src:
                local("Permanent Marker"),
                url("/PermanentMarker-Regular.woff2") format("woff2");
        }

        *,
        :before,
        :after {
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            overscroll-behavior-y: none;
            font-family: system-ui;
            color: color-mix(in oklch, var(--fg), var(--bg) 5%);
            font-size: 1.2em;
            line-height: 1.5;
        }

        body[data-scheme="light"] {
            --bg: #fcfcfc;
            --fg: #111;
            --ac: ;
        }

        body[data-scheme="dark"] {
            --bg: #222;
            --fg: #fcfcfc;
            --ac: ;
        }

        :where(h1, h2, h3) {
            font-family: "Penstand", cursive;
            font-weight: normal;
            font-size: 3em;
            margin: 0;
            margin-bottom: 1rem;
            line-height: 0.7;
            text-indent: -1ch;
            margin-inline-start: 1ch;
            text-wrap: balance;
        }

        :where(h3) {
            font-size: 2em;
            margin-block: 0;
        }

        a {
            color: inherit;
            text-underline-offset: 0.15em;
        }

        .sticker {
            padding: 0.5rem;
            font-size: 2.5rem;
            user-select: none;
            stroke: color-mix(in oklch, white, var(--bg) 82%);
            stroke-width: 29%;
            stroke-linejoin: round;
            paint-order: stroke fill;
            overflow: visible;
            filter: drop-shadow(1px 1px 1px rgba(20, 20, 20, 0.2));
            pointer-events: none;
        }

        figure {
            background-color: #fff;
            padding: 1rem;
            box-shadow: 0 2px 2px 0 color-mix(in oklch, #888, transparent 80%);
            max-width: 100%;
            margin: 0;
            border-bottom: 1px solid color-mix(in oklch, #888, transparent 70%);
            rotate: -3deg;
            margin-block: 1.5lh;
            transition: rotate 0.218s ease;

            &:hover {
                rotate: 0deg;
            }
        }

        figcaption {
            text-align: center;
            text-wrap: pretty;
            font-family: "Permanent Marker", monospace;
            color: black;
            font-size: 1.3em;
        }
    </style>
</head>
