---
import metadata from "../metadata.json";
const { title = metadata.title, description = metadata.description } =
    Astro.props;
const ogImage = new URL("og-image.png", Astro.url);

const schema = {
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    dateCreated: "2020-05-07T12:34:00-05:00",
    dateModified: new Date().toISOString(),
    mainEntity: {
        "@id": "#main-author",
        "@type": "Person",
        name: "Donnie D'Amato",
        alternateName: "donniedamato",
        description,
        image: "http://donnie.damato.design/images/donnie.jpg",
        sameAs: [
            "https://twitter.com/donniedamato",
            "https://linkedin.com/in/fauxserious",
            "https://github.com/fauxserious",
            "https://social.design.systems/@donnie",
            "https://bsky.app/profile/donnie.damato.design",
            "https://adplist.org/mentors/donnie-damato",
            "https://www.threads.net/@donniedamato",
        ],
    },
};
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={title} />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#b91d47" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@donniedamato" />
    <meta name="twitter:creator:id" content="230538553" />

    <script type="application/ld+json" set:html={JSON.stringify(schema)} />

    <style is:global>
        @font-face {
            font-family: "Mother";
            font-style: normal;
            font-weight: 400;
            src:
                local("Mother"),
                url("/Mother-Regular.woff2") format("woff2");
        }

        @font-face {
            font-family: "Daeling";
            font-style: normal;
            font-weight: 400;
            src:
                local("Daeling"),
                url("/Daeling-Regular.woff2") format("woff2");
        }

        @font-face {
            font-family: "Kentish";
            font-style: normal;
            font-weight: 400;
            src:
                local("Kentish"),
                url("/Kentish-Regular.woff2") format("woff2");
        }

        *,
        :before,
        :after {
            box-sizing: border-box;
        }

        :root {
            --base: #ff00c2;
            --gold: gold;
            --border: oklch(from var(--gold) calc(l - .2) calc(c + .2) h);
            --shine: linear-gradient(
                110deg,
                color-mix(in oklch, var(--gold), white 40%) 0%,
                color-mix(in oklch, var(--gold), white 80%) 20%,
                color-mix(in oklch, var(--gold), black 40%) 40%,
                color-mix(in oklch, var(--gold), white 60%) 50%,
                color-mix(in oklch, var(--gold), black 40%) 65%,
                color-mix(in oklch, var(--gold), white 30%) 85%,
                color-mix(in oklch, var(--gold), white 80%) 100%
            );
        }

        html {
            scroll-behavior: smooth;
            overscroll-behavior: none;
        }

        html::after {
            /** Vignette */
            content: "";
            position: fixed;
            inset: 0;
            background: radial-gradient(
                circle farthest-corner at center,
                transparent,
                rgba(0, 0, 0, 0.85) 110%
            );
            pointer-events: none;
        }

        body {
            margin: 0;
            overscroll-behavior-y: none;
            text-rendering: optimizeLegibility;
            background-attachment: fixed;
            font-family:
                "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
                serif;
            line-height: 1.4;
            text-wrap: pretty;
            color: white;
        }

        a {
            color: inherit;
            text-decoration-thickness: 1px;
            text-underline-offset: 0.15em;
        }

        img {
            width: 100%;
            filter: grayscale(1) contrast(1.5);
            mix-blend-mode: screen;
        }

        :where(h1, h2, h3) {
            font-family: "Kentish";
            font-weight: normal;
            text-wrap: balance;
            margin: 0;
            padding-block: 0.5ex;
            background-image: var(--shine);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .tuft-fabric {
            --tuft-size: 100px;
            --attachment: fixed;
            --button: radial-gradient(
                oklch(from var(--base) calc(l - .4) c h) 4%,
                oklch(from var(--base) calc(l - .5) c h) 9%,
                transparent 9%);
            --bump: radial-gradient(
                oklch(from var(--base) calc(l - .35) c h / .8) 20%,
                transparent);
            --shadow: radial-gradient(
                oklch(from var(--base) calc(l - .6) c h) 35%,
                transparent 60%);
            --crease: transparent 49%, black 50%, transparent 70%;
            background:
                var(--button) 0 0 var(--attachment),
                var(--button) calc(var(--tuft-size) / 2) calc(var(--tuft-size) / 2) var(--attachment),
                var(--bump) calc(var(--tuft-size) / 2) 0 var(--attachment),
                var(--bump) 0 calc(var(--tuft-size) / 2) var(--attachment),
                var(--shadow) calc(var(--tuft-size) / 2) 0 var(--attachment),
                var(--shadow) var(--tuft-size) calc(var(--tuft-size) / 2) var(--attachment),
                linear-gradient(45deg, var(--crease)) 0 0 var(--attachment),
                linear-gradient(-45deg, var(--crease)) 0 0 var(--attachment);
            background-color: oklch(from var(--base) calc(l - .5) c h);
            background-size: var(--tuft-size) var(--tuft-size);
        }

        .card-stock {
            background-image: linear-gradient(45deg, 
                oklch(from var(--base) calc(l - .4) c h),
                oklch(from var(--base) calc(l - .6) c h));
            background-attachment: fixed;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                top: auto;
                height: 1.5rem;
                --s: 10px;
                --c1: transparent;
                --c2: oklch(from var(--base) calc(l - .5) c h);

                background:
                    radial-gradient(
                        var(--c1) 14%,
                        var(--c2) 15% 30%,
                        var(--c1) 31% 44%,
                        var(--c2) 45% 60%,
                        #0000 61%
                    ),
                    linear-gradient(45deg, transparent 46%, var(--c2) 0 54%, transparent 0),
                    linear-gradient(-45deg, transparent 46%, var(--c2) 0 54%, transparent 0)
                        var(--c1);
                background-size: var(--s) var(--s);
                background-position: center;
                --m: conic-gradient(
                        from 135deg at top,
                        transparent,
                        black 1deg 89deg,
                        transparent 90deg
                    )
                    top / 20px 100% repeat-x;
                -webkit-mask: var(--m);
                mask: var(--m);
            }
        }
    </style>
</head>
