---
import ProjectDate from "@components/ProjectDate.astro";
const { title, summary, link, image, caption, date } = Astro.props;
function parseDomainName(name: string) {
    const { hostname } = new URL(name);
    // Split by dots
    const parts = hostname.split('.');
    
    // If it's just "localhost" or an IP, return as is
    if (parts.length <= 2) return hostname;

    // Standard logic: Keep the last two segments (e.g., domain.com)
    // Note: This won't perfectly handle .co.uk without a library like 'psl'
    return parts.slice(-2).join('.');
}
---

<style>
    .project-card {
        padding: 8px;
        border: 3px double var(--border);
        border-radius: 11px;
        corner-shape: bevel;
        position: relative;
        display: flex;
        background-image: linear-gradient(
                195deg,
                oklch(from var(--base) calc(l - 0.45) c h),
                oklch(from var(--base) calc(l - 0.6) c h) 60%
            );

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            margin: -12px;
            border: 1px solid var(--border);
            border-radius: 40px;
            corner-shape: notch;
            pointer-events: none;
        }
    }

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 8px;
        border: 1px solid var(--border);
        background-image: repeating-linear-gradient(
            -65deg,
            oklch(from var(--border) calc(l - 0.3) c h),
            oklch(from var(--border) calc(l - 0.3) c h) 1px,
            transparent 1px,
            transparent 10px
        );

        &::before {
            content: "";
            border: 1px solid var(--border);
            box-shadow: 40px 40px oklch(from var(--base) calc(l - 0.72) c h);
            aspect-ratio: 1;
            display: block;
            left: 0;
            position: absolute;
            rotate: -30deg;
            translate: -50% 0;
            height: 120%;
            --s: 20px;
            --c1: oklch(from var(--base) calc(l - 0.6) c h);
            --c2: oklch(from var(--base) calc(l - 0.55) c h);

            background:
                radial-gradient(
                    var(--c1) 14%,
                    var(--c2) 15% 30%,
                    var(--c1) 31% 44%,
                    var(--c2) 45% 60%,
                    #0000 61%
                ),
                linear-gradient(
                    45deg,
                    transparent 46%,
                    var(--c2) 0 54%,
                    transparent 0
                ),
                linear-gradient(
                        -45deg,
                        transparent 46%,
                        var(--c2) 0 54%,
                        transparent 0
                    )
                    var(--c1);
            background-size: var(--s) var(--s);
        }
    }

    .lockup {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        isolation: isolate;
    }

    .title {
        background: oklch(from var(--base) calc(l - 0.65) c h);
        padding: 8px;
        border: 1px solid var(--border);
        margin-bottom: -1px;
        text-align: right;
        font-size: .9em;
    }

    .summary {
        background-image: linear-gradient(
                -15deg,
                oklch(from var(--base) calc(l - 0.45) c h),
                oklch(from var(--base) calc(l - 0.6) c h) 60%
            );
        padding: 16px;
        border: 1px solid var(--border);
        margin-left: -1px;
        isolation: isolate;
    }

    .date {
        background: oklch(from var(--base) calc(l - .4) c h);
        border: 1px solid var(--border);
        padding: 4px;
        text-align: center;
        text-decoration: none;
    }
</style>

<div class="project-card">
    <div class="content">
        <div class="lockup">
            <div class="title">
                <h2>{title}</h2>
            </div>
            <div class="date">
                <ProjectDate isoDate={date} />
            </div>
            <!-- <a href={link} class="link">{parseDomainName(link)}</a> -->
        </div>
        <div class="summary">{summary}</div>
    </div>
</div>
